<body>
    <p>Hello {{name}}</p>
    <p>We just received your application and we are pleased to inform you that you are invited to the next stage of interview</p>
    <p>Your interviewer is {{interviewer}}</p>
    <p>Best regards,</p>
    <p>Sheggs Company</p>

    <strong>Hey {{username}}!</strong>
    <p>We thank you for supporting us in bringing better society by sharing the crime you came across.
        But we are sorry to inform you that the post you have uploaded recently got rejected!
    </p>
    <strong>We ave attached image related to that post:</strong>
    <img src={{imageUri}} width="300px" height="300px" />
    <p>Your post has been rejected due to following reasons: </p>

</body>